.background-gradient{
    background: linear-gradient(#96abe6,#978661);
    bottom: 0;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    position: fixed;
}
.black-overlay{
    background-color: rgba(0,0,0, 0.2); 
    filter: blur(5);
    bottom: 0;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    position: relative;

}